pipeline/pl_medallion_copy1.json
{
	"name": "pl_medallion_copy1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.list_of_directories",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "set_directory_name",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "filename",
								"value": {
									"value": "@split(item(),'/')[0]",
									"type": "Expression"
								}
							}
						},
						{
							"name": "set_filename",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "set_directory_name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "directory",
								"value": {
									"value": "@split(item(),'/')[1]",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"list_of_directories": {
				"type": "array",
				"defaultValue": [
					"audit/audit_logs_data.parquet",
					"booking/booking_data.parquet",
					"consent_management/consent_management_data.parquet",
					"customer/customer_data.parquet",
					"feedback/feedback_data.parquet",
					"interactions/realtime_interactions_data.parquet",
					"transactional/transactional_data.parquet"
				]
			}
		},
		"variables": {
			"filename": {
				"type": "String"
			},
			"directory": {
				"type": "String"
			}
		},
		"annotations": []
	}
}